@import "tailwindcss";

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
}
.header-text {
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 100px;
}
.how-it-works h2 {
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 100%;
}
.upper_image {
  transition: 0.3s ease;
  cursor: pointer;
}
.upper_image:hover {
  transform: scale(1.1);
}

/* responsiveness */
@media screen {
  max-width: 768px;
}
